* {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0 none;
}

button:focus {
  outline: 0 none;
}

img,
iframe {
  max-width: 100%;
}

body {
  direction: rtl;
  font-family: 'Tajawal', 'sans serif';
  text-align: right;
  color: #224254;
  overflow-x: hidden;
}

.medium_font {
  font-weight: 500;
}

.bold_font {
  font-weight: 700;
}

.no_arrow:after {
  content: none;
}

.primary {
  color: #ef9d43;
}

a.primary:hover {
  color: #eb8514;
  text-decoration: none;
}

.grey {
  color: #777;
}

.grey_icon {
  color: #aaa;
}

a:hover {
  text-decoration: none;
  color: #ef9d43;
}

.input_group {
  position: relative;
}

.input_group i {
  color: #ef9d43;
  position: absolute;
  left: .75rem;
  top: 50%;
  transform: translateY(50%);
  z-index: 2;
  font-size: .875rem;
}

.checkbox_custom {
  position: relative;
  display: inline-flex;
}

.checkbox_custom input {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 2;
}

.checkbox_custom span {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #ddd;
  display: inline-block;
  text-align: center;
}

.checkbox_custom span:before {
  content: '\f00c';
  font-family: 'font awesome 5 pro';
  font-weight: 900;
  color: #ef9d43;
  opacity: 0;
}

.checkbox_custom input:checked ~ span {
  border-color: #ef9d43;
}

.checkbox_custom input:checked ~ span:before {
  opacity: 1;
}

.checkbox_custom::selection {
  background-color: transparent;
}

.checkbox_custom.check_tab span {
  width: inherit;
  height: inherit;
  padding: .5rem .75rem;
  background: #f3f3f3;
  border-radius: .25rem;
  border: 1px solid #eee;
  font-size: 1rem;
}

.checkbox_custom.check_tab span:before {
  content: none;
}

.checkbox_custom.check_tab input:checked ~ span {
  background: #ef9d43;
  color: #fff;
}

.checkbox_custom.radio span {
  border-radius: 50%;
}

.checkbox_custom.radio span:before {
  content: '';
  width: .75rem;
  height: .75rem;
  display: inline-block;
  border-radius: 50%;
  background: #ef9d43;
}

.select2-container {
  flex: 1;
}

.select2-container .select2-selection--single {
  border: 2px solid #E6E6E6;
  border-radius: .25rem 0 0 .25rem;
  background: #EFEFEF;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 3rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  left: .25rem;
}

.select2-search--dropdown .select2-search__field {
  text-align: right;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 3rem;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0 .75rem;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #ef9d43;
}

.custom_dropfile {
  color: #aaa;
  padding: 2rem 0;
  text-align: center;
  position: relative;
  font-weight: 500;
  border: 2px dashed rgba(207, 207, 207, 0.867);
}

.custom_dropfile span:last-of-type {
  font-size: 1.25rem;
}

.custom_dropfile input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
}

.remove_dropfile {
  color: #fc3a3a;
  font-weight: 500;
}

.main_btn {
  background-color: #ef9d43;
  padding: .5rem .75rem;
  color: #fff;
  border-radius: .25rem;
  transition: 0.25s ease-in-out;
  text-align: center;
}

.main_btn:hover {
  background: #eb8514;
  color: #fff;
  text-decoration: none;
}

.main_btn.secondary {
  background: #A6A6A6;
}

.main_btn.secondary:hover {
  background: #8d8d8d;
}

.main_btn.btn_md {
  min-width: 6.25rem;
  font-size: 1.125rem;
}

.main_btn.btn_lg {
  min-width: 8.125rem;
  font-size: 1.125rem;
}

.main_btn.btn_sm {
  padding: .25rem;
}

.main_btn.danger {
  background-color: #ff8787;
  color: #ffffff;
}

.swal2-styled.swal2-confirm {
  background-color: #ef9d43 !important;
}

.transparent_btn {
  border: 1px solid #ef9d43;
  color: #ef9d43;
  display: inline-block;
  border-radius: .25rem;
  transition: 0.25s ease-in-out;
  padding: .5rem .75rem;
  text-align: center;
}

.icon_btn {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  max-width: 100%;
  font-size: .75rem;
}

.icon_btn.danger {
  background-color: #ffd0d0;
  color: #df5656;
}

.icon_btn.edit {
  background-color: #a3daff;
  color: #2675ab;
}

.small_font {
  font-size: .875rem;
  font-weight: 500;
}

.modal .close {
  font-size: 2rem;
  color: #aaa;
}

.dropdown-menu {
  text-align: right;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #ef9d43;
}

.custom_tabs {
  border: 1px solid #ddd;
  background: #F2F2F2;
  border-radius: .25rem;
}

.custom_tabs .nav-link {
  border: 1px solid transparent;
  border-left-color: #ddd;
  color: #333;
  font-weight: 500;
}

.custom_tabs .nav-link.active {
  border-color: #ef9d43;
  border-left: 0 none;
  background: #ef9d43;
  color: #fff;
  border-radius: 0;
}

[data-notify=dismiss] {
  left: .75rem;
  right: auto !important;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 240px;
  height: 100%;
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
  left: -320px;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -240px;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}

.cart_item {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}

.cart_item:last-of-type {
  padding-bottom: 0;
  border-bottom: 0;
}

.cart_item img {
  width: 4rem;
  height: 4rem;
}

.modal_search {
  position: relative;
  width: 100%;
}

.modal_search input {
  width: 100%;
}

.modal_search button {
  position: absolute;
  left: 0;
}

#menu_modal .navbar-nav {
  margin: 0 !important;
}

#menu_modal .topbar_menu {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0;
  display: block !important;
}

#menu_modal .dropdown_menu {
  display: none;
}

#menu_modal .dropdown {
  position: relative;
}

#menu_modal .dropdown > a:after {
  content: '\f053';
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  position: absolute;
  left: .75rem;
  font-size: .75rem;
  color: #aaa;
}

#menu_modal .navbar-nav a {
  padding: .75rem 1rem !important;
  display: block;
  width: 100%;
  color: #333;
  border-bottom: 1px solid #ddd;
  font-weight: 300 !important;
}

#menu_modal .navbar-nav a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}

.navbar {
  padding: 0;
}

@media (max-width: 768px) {
  .navbar {
    position: absolute;
    background: transparent;
  }
}

.navbar-brand img {
  width: 120px;
}

.shapes {
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

.shapes .triangle1 {
  right: auto;
  position: absolute;
  z-index: 2;
  left: 8%;
  top: 0;
}

.shapes .triangle2 {
  position: absolute;
  top: 0;
  left: 8%;
  z-index: 3;
}

/* main.css | http://127.0.0.1:5500/src/css/main.css */
.shapes .triangle1 {
  /* width: 22%; */
  width: 18%;
}

.shapes .triangle2 {
  width: 30%;
}

@media (max-width: 768px) {
  .shapes .triangle1 {
    width: 40%;
  }
  .shapes .triangle2 {
    width: 50%;
  }
}

.section_1 {
  background: url(../imgs/bottom_bg.png) no-repeat right bottom;
}

.section_title {
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .section_title {
    font-size: 2rem;
  }
}

.traingler_holder {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 200px;
  margin-right: 80px;
}

.text-shadow {
  text-shadow: 0 0.7rem 0.5rem rgba(0, 0, 0, 0.3);
}

@keyframes circle-orange {
  0% {
    transform: rotate(0deg) translate(-5px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-15px) rotate(-360deg);
  }
}

@keyframes circle-purple {
  0% {
    transform: rotate(0deg) translate(-5px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-5px) rotate(-360deg);
  }
}

.triangle_main {
  background: url("../imgs/Polygon 6.png");
  animation: circle-purple 3s infinite linear;
  background-size: contain;
  background-repeat: no-repeat;
  right: -53px;
  left: auto;
  width: 84.75px;
  height: 74.25px;
}

.triangle_second {
  background: url("../imgs/Polygon 7.png");
  background-size: contain;
  background-repeat: no-repeat;
  right: -53px;
  left: auto;
  width: 84.75px;
  animation: circle-orange 3s infinite ease-in-out;
  height: 74.25px;
}

/* main.css | http://127.0.0.1:5500/src/css/main.css */
.triangle_second {
  /* right: -53px; */
  right: 100px;
  position: absolute;
  transform: rotate(90deg) scale(0.8);
}

.section_2 {
  background-size: cover;
}

.gradient_btn {
  color: #fff;
  padding: .75rem 1.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 2rem;
  background-image: linear-gradient(to right, #fc692f, #ff9a44, #ef9d43, #e75516);
  background-size: 300% 100%;
  background-position: 0% 0%;
  transition: 0.25s ease-in-out;
  display: inline-block;
  text-align: center;
}

.gradient_btn.sec {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
}

.gradient_btn:hover {
  background-position: 100% 0;
  color: #fff;
}

.gradient_btn.white {
  background: #fff;
  color: #333;
}

@media (max-width: 768px) {
  .gradient_btn {
    width: 100%;
  }
}

.fp-right.colored ul li a span {
  background: #fff !important;
}

.form_control {
  display: block;
  width: 100%;
  border: 0 none;
  border-bottom: 2px solid #ddd;
  padding: .5rem 0;
}

.form_line {
  display: block;
  width: 100%;
  position: absolute;
  right: 0;
  height: 2px;
  bottom: 0;
  background: #224254;
  transform-origin: 100% 100%;
  opacity: 0;
  transform: scaleX(0);
  transition: .4s ease-in-out;
}

.form_control:focus ~ .form_line,
.bootstrap-tagsinput:focus ~ .form_line,
.select2-container:active ~ .form_line {
  transform: scaleX(1);
  opacity: 1;
}

.input_group {
  position: relative;
}

.input_group label {
  position: absolute;
  transition: 0.25s ease-in-out;
  top: 0;
  right: 0;
}

.form_control::placeholder {
  font-style: italic;
  font-size: .875rem;
}

.form_control:placeholder-shown ~ label {
  transform: translateY(-1rem);
}

.form_control:focus ~ label {
  transform: scale(0.8) translateY(-1rem);
}

.modal-header {
  background: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  border: 0 none;
  color: #fff;
  border-radius: 0;
  align-items: center;
}

.modal-header .close {
  padding: 0;
  margin-bottom: -.25rem;
}

.site_loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  right: 0;
  background: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
/*# sourceMappingURL=main.css.map */