.navbar {
  padding: 0;

  @media (max-width: 768px) {
    position: absolute;
    background: transparent;
  }
}

.navbar-brand {
  img {
    width: 120px;
  }
}

.shapes {
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-end;

  .triangle1 {
    right: auto;
    position: absolute;
    z-index: 2;
    left: 8%;
    top: 0;
  }

  .triangle2 {
    position: absolute;
    top: 0;
    left: 8%;
    z-index: 3;
  }


}

/* main.css | http://127.0.0.1:5500/src/css/main.css */

.shapes .triangle1 {
  /* width: 22%; */
  width: 18%;
}

.shapes .triangle2 {
  width: 30%;
}

@media(max-width: 768px) {

  .shapes {
    .triangle1 {

      width: 40%;
    }

    .triangle2 {

      width: 50%;
    }
  }
}



.section_1 {
  background: url(../imgs/bottom_bg.png) no-repeat right bottom;
}

.section_title {
  font-size: 2.5rem;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.traingler_holder {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 200px;
  margin-right: 80px;
}

.text-shadow {
  text-shadow: 0 .7rem 0.5rem rgba(0, 0, 0, 0.3);
}

@keyframes circle-orange {
  0% {
    transform: rotate(0deg) translate(-5px) rotate(0deg);
  }


  100% {
    transform: rotate(360deg) translate(-15px) rotate(-360deg);
  }
}

@keyframes circle-purple {
  0% {
    transform: rotate(0deg) translate(-5px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translate(-5px) rotate(-360deg);
  }
}

.triangle_main {
  background: url('../imgs/Polygon\ 6.png');
  animation: circle-purple 3s infinite linear;
  background-size: contain;
  background-repeat: no-repeat;
  right: -53px;
  left: auto;
  width: 84.75px;
  height: 74.25px;
}

.triangle_second {
  background: url('../imgs/Polygon\ 7.png');
  background-size: contain;
  background-repeat: no-repeat;
  right: -53px;
  left: auto;
  width: 84.75px;
  animation: circle-orange 3s infinite ease-in-out;
  height: 74.25px;
}

/* main.css | http://127.0.0.1:5500/src/css/main.css */

.triangle_second {
  /* right: -53px; */
  right: 100px;
  position: absolute;
  transform: rotate(90deg) scale(.8);
}

.section_2 {
  background-size: cover;
}

.gradient_btn {
  color: #fff;
  padding: .75rem 1.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 2rem;
  background-image: linear-gradient(to right, #fc692f, #ff9a44, #ef9d43, #e75516);
  background-size: 300% 100%;
  background-position: 0% 0%;
  transition: $trans;
  display: inline-block;
  text-align: center;



  &.sec {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  }

  &:hover {
    background-position: 100% 0;
    color: #fff;
  }

  &.white {
    background: #fff;
    color: #333;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.fp-right {

  &.colored {
    ul li a span {
      background: #fff !important;
    }
  }
}

.form_control {
  display: block;
  width: 100%;
  border: 0 none;
  border-bottom: 2px solid #ddd;
  padding: .5rem 0;
}

.form_line {
  display: block;
  width: 100%;
  position: absolute;
  right: 0;
  height: 2px;
  bottom: 0;
  background: #224254;
  transform-origin: 100% 100%;
  opacity: 0;
  transform: scaleX(0);
  transition: .4s ease-in-out;
}

.form_control:focus~.form_line,
.bootstrap-tagsinput:focus~.form_line,
.select2-container:active~.form_line {
  transform: scaleX(1);
  opacity: 1;
}

.input_group {
  position: relative;

  label {
    position: absolute;
    transition: $trans;
    top: 0;
    right: 0;
  }
}

.form_control::placeholder {
  font-style: italic;
  font-size: .875rem
}

.form_control:placeholder-shown~label {
  transform: translateY(-1rem);
}

.form_control:focus~label {
  transform: scale(.8) translateY(-1rem);
}

.modal-header {
  background: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  border: 0 none;
  color: #fff;
  border-radius: 0;
  align-items: center;

  .close {
    padding: 0;
    margin-bottom: -.25rem;
  }
}

.site_loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  right: 0;
  background: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}