.medium_font {
  font-weight: 500;
}

.bold_font {
  font-weight: 700;
}

.no_arrow:after {
  content: none;
}

//colors
.primary {
  color: $color;
}

a.primary:hover {
  color: darken($color, 10%);
  text-decoration: none;
}

.grey {
  color: #777;
}

.grey_icon {
  color: #aaa;
}

a:hover {
  text-decoration: none;
  color: $color;
}

// form
.input_group {
  position: relative;

  i {
    color: $color;
    position: absolute;
    left: .75rem;
    top: 50%;
    transform: translateY(50%);
    z-index: 2;
    font-size: .875rem;
  }
}



.checkbox_custom {
  position: relative;
  display: inline-flex;

  input {
    opacity: 0;
    position: absolute;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 2;
  }

  span {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #ddd;
    display: inline-block;
    text-align: center;

    &:before {
      content: '\f00c';
      font-family: 'font awesome 5 pro';
      font-weight: 900;
      color: $color;
      opacity: 0;
    }
  }

  input:checked~span {
    border-color: $color;

    &:before {
      opacity: 1;
    }
  }

  &::selection {
    background-color: transparent;
  }

  &.check_tab {
    span {
      width: inherit;
      height: inherit;
      padding: .5rem .75rem;
      background: #f3f3f3;
      border-radius: .25rem;
      border: 1px solid #eee;
      font-size: 1rem;

      &:before {
        content: none;
      }
    }

    input:checked~span {
      background: $color;
      color: #fff;
    }
  }

  &.radio {
    span {
      border-radius: 50%;

      &:before {
        content: '';
        width: .75rem;
        height: .75rem;
        display: inline-block;
        border-radius: 50%;
        background: $color;
      }
    }
  }
}

// select2

.select2-container {
  flex: 1;
}

.select2-container .select2-selection--single {
  border: 2px solid #E6E6E6;
  border-radius: .25rem 0 0 .25rem;
  background: #EFEFEF;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 3rem;

}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  left: .25rem;

}

.select2-search--dropdown .select2-search__field {
  text-align: right;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 3rem;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0 .75rem
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $color;
}

.custom_dropfile {
  color: #aaa;
  padding: 2rem 0;
  text-align: center;
  position: relative;
  font-weight: 500;
  border: 2px dashed rgba(207, 207, 207, 0.867);

  span:last-of-type {
    font-size: 1.25rem;
  }

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0;
  }
}

.remove_dropfile {
  color: rgb(252, 58, 58);
  font-weight: 500;
}

// btn
.main_btn {
  background-color: $color;
  padding: .5rem .75rem;
  color: #fff;
  border-radius: .25rem;
  transition: $trans;
  text-align: center;

  &:hover {
    background: darken($color, 10%);
    color: #fff;
    text-decoration: none;
  }

  &.secondary {
    background: #A6A6A6;

    &:hover {
      background: darken(#A6A6A6, 10%);
    }
  }

  &.btn_md {
    min-width: 6.25rem;
    font-size: 1.125rem;
  }

  &.btn_lg {
    min-width: 8.125rem;
    font-size: 1.125rem;
  }

  &.btn_sm {
    padding: .25rem;
  }

  &.danger {
    background-color: #ff8787;
    color: #ffffff;
  }
}

.swal2-styled.swal2-confirm {
  background-color: $color !important;
}

.transparent_btn {
  border: 1px solid $color;
  color: $color;
  display: inline-block;
  border-radius: .25rem;
  transition: $trans;
  padding: .5rem .75rem;
  text-align: center;
}

.icon_btn {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  max-width: 100%;
  font-size: .75rem;

  &.danger {
    background-color: rgb(255, 208, 208);
    color: rgb(223, 86, 86);
  }

  &.edit {
    background-color: #a3daff;
    color: #2675ab;

  }
}

.small_font {
  font-size: .875rem;
  font-weight: 500;
}

//modal

.modal .close {
  font-size: 2rem;
  color: #aaa;
}

// dropdown
.dropdown-menu {
  text-align: right;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .1);
}


.dropdown-item.active,
.dropdown-item:active {
  background-color: $color;
}

//tooltip
// .tooltip-inner {
//   background-color: $color5;
//   font-family: 'Tajawal';
// }

// .bs-tooltip-auto[x-placement^=right] .arrow::before,
// .bs-tooltip-bottom .arrow::before {
//   border-bottom-color: $color5;
// }

//tabs
.custom_tabs {
  border: 1px solid #ddd;
  background: #F2F2F2;
  border-radius: .25rem;

  .nav-link {
    border: 1px solid transparent;
    border-left-color: #ddd;
    color: #333;
    font-weight: 500;
  }

  .nav-link.active {
    border-color: $color;
    border-left: 0 none;
    background: $color;
    color: #fff;
    border-radius: 0;
  }
}

// bs notify
[data-notify=dismiss] {
  left: .75rem;
  right: auto !important;
}