$color: #ef9d43;
$trans: .25s ease-in-out;

* {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0 none;

}

button:focus {
  outline: 0 none;
}

img,
iframe {
  max-width: 100%;
}

body {
  direction: rtl;
  font-family: 'Tajawal', 'sans serif';
  text-align: right;
  color: #224254;
  overflow-x: hidden;
}

@import 'ui';
@import 'modal';
@import 'header';